/* TYPOGRAPHY */
* {
  font-family: 'Roboto', sans-serif;
}

/* PAGE TRANSITION */
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}
